::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar:vertical {
  display: none;
}

h1 {
  font-size: 200px;
}
h2 {
  font-size: 35px;
}
h4 {
  font-size: 22px;
}

p,
label,
input {
  font-size: 14px;
}

button {
  cursor: pointer;
  border: 1px solid #c1c1c1;
}

select,
input {
  border-color: transparent;
  background-color: none;
}

input:focus {
  border-color: dodgerblue;
}
