::-webkit-scrollbar-track {
  display: none;
}
h1 {
  font-size: 200px;
}
h2 {
  font-size: 35px;
}
h4 {
  font-size: 22px;
}

p, label, input {
  font-size: 14px;
}

button {
  cursor: pointer;
  border: 1px solid #c1c1c1
}

select,
input {
  border-color: white;
  background-color: none;
}

input:focus {
  border-color: dodgerblue;
}